<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Spending Calculator</title>
  <meta name="description" content="Spending Calculator">
  <meta name="author" content="Románó Firtermaiszter">
</head>
<body>
  <p>Something went wrong with the FB auth :(</p>
</body>
</html>