<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Spending Calculator</title>
  <meta name="description" content="Spending Calculator">
  <meta name="author" content="Románó Firtermaiszter">
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.min.js"></script>
  <script src="http://cdn.rawgit.com/google/traceur-compiler/90da568c7aa8e53ea362db1fc211fbb4f65b5e94/bin/traceur-runtime.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/systemjs/0.18.4/system.js"></script>
  <script src="src/config.js"></script>
  <script src="http://code.angularjs.org/2.0.0-alpha.42/angular2.dev.js"></script>
  <script>
      System.import('app').catch(console.log.bind(console));
  </script>
</head>
<body>
  <header>
    <p>Howdy <%= userName %>?</p>
  </header>
  <section>
    <form action="http://localhost:3000/add" method="post">
      <input type="text" placeholder="title" name="title"><br>
      <input type="number" placeholder="price" name="price"><br>
      <input type="submit" value="submit" id="submit">
    </form>
    <chart></chart>
  </section>
</body>
</html>