<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Spending Calculator</title>
  <meta name="description" content="Spending Calculator">
  <meta name="author" content="Románó Firtermaiszter">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/auth">Log in</a></li>
    </ul>
  </nav>
  <p>You need to sign in. :)</p>
</body>
</html>